<div id="{{ __SELF__.id }}container">
	
</div>
	<form
		data-request="{{ __SELF__ }}::onSignup"
	    data-request-update="'{{ __SELF__ }}::result': '#{{ __SELF__.id }}container'">
	  <div class="form-group">
	    <label for="inlineName" class="sr-only">Name</label>
	    <input type="text" class="form-control" id="inlineName" placeholder="Name" name="name" required>
	  </div>
	  <div class="form-group">
	    <label for="inlineEmail" class="sr-only">Email address</label>
	    <input type="email" class="form-control" id="inlineEmail" placeholder="Email address" name="email" required>
	  </div>
	  <button type="submit" class="btn btn-inline">Subscribe</button>
	</form>